@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;

  
}





body {
 
  background-color: #2A2B30;
}

.buttonSupport{
  
  font-weight: bold;
  background-color: blue;
}


.smallLogo {
  margin: 5px;
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 10px;
  width: 50px;
  height: auto;
  
}

.helloText{
  
  color: white;
 
  
}

.whatHelp{
  padding-top: 50px;
  
  color: white;

}

